<aside class="col-xs-12 col-md-12 col-lg-3 side-menu">
    <nav class="left-nav hidden-xs hidden-sm hidden-md">
        <ul class="nolist">
            {% set sidebar = shop_sidebar() %}
            <li>
                <a href="#">Shops</a>
                <ul class="nolist">
                    {% for shop in sidebar.shops %}
                            <li onclick="{{ path('shop_show', {'id': shop.id}) }}">{{ shop.name }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="#">Categories</a>
                <ul class="nolist">
                    {% for category in sidebar.categories %}
                        <li>{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
</aside>